
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    min-height: 100vh;
    background-color: var(--clr-gray);
}

footer {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
    text-align: center;
}

.cargar-mas {
    padding: 10px 25px;
    background-color: #97ce4c; /* Color verde de la poci칩n de Rick */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px #45a049; /* Sombra para dar efecto 3D */
    outline: none;
    position: relative;
    transition: all 0.3s ease;
    min-height: 3em;
    min-width: 20em;
  }
  
  .cargar-mas:hover {
    background-color: #86b93b; /* Un tono m치s oscuro al pasar el mouse */
  }
  
  .cargar-mas:active {
    box-shadow: 0 2px #45a049; /* Sombra m치s peque침a al hacer clic */
    top: 2px;
  }
  
  .cargar-mas::before {
    content: '游띶'; /* Icono de la nave espacial de Rick */
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .cargar-mas::after {
    content: '游'; /* Icono de portal */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

main{
    padding: 2rem;
    max-width: 1500px;
    margin: 0 auto;
}

.ram-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


@media screen and (min-width: 470px) {
    .ram-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .ram-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.character {
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.character-id {
  background-color: var(--clr-gray);
  padding: .25rem .5rem;
  border-radius: 100vmax;
  font-size: .75rem;
  font-weight: 500;
  max-width:13rem;
}

.character-imagen {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 30%;
}

.character-imagen img {
    width: 100%;
    max-width: 4rem;
    
}

.nombre-contenedor {
    margin-top:10px;
    display: inline-block;
}

.character-info {
    display: block;
}

.character-nombre {
    margin:10px 0px 10px 0px;
    font-size: 1rem;
}

  .character {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  .character img {
    max-width: 100%;
    height: auto;
  }

  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  .modal-content {
    background-color: #ffff; 
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    border-radius:10px;
    
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #97ce4c; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; 
    margin-top: 10px;
    
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }





